#leftDiv{
  position: absolute;
  height: 100% ;
  width: 30px ;
  background-color: #18A7B5 ;
}

#loginCard{
  position: absolute;
  left: 36% ;
  top: 3% ;
  width: 400px ;
}

#card{
  padding: 16px ;
  border-width: 16px ;
}

#login{
  margin-bottom: 32px ;
  font-size: 15pt ;
}

#fName{
  margin-bottom: 32px ;
}

#location{
  margin-bottom: 32px ;
}

#addButt{
  margin-bottom: 32px ;
}

#pass{
  margin-bottom: 32px ;
}

#passConf{
  margin-bottom: 32px ;
}

#phone{
  margin-bottom: 32px ;
}

#userPass{
  margin-bottom: 32px ;
}

#loginBt{
 margin-bottom: 64px ; 
}

#nameMess {
    position: absolute;
    top: 130px ;
    left: 900px ;
    display:none;
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    margin-top: 10px;
}

#phoneMess {
    position: absolute;
    top: 260px ;
    left: 900px ;
    display:none;
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    margin-top: 10px;
}

#passMess {
    position: absolute;
    top: 320px ;
    left: 900px ;
    display:none;
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    margin-top: 10px;
}

#passConMess{
    position: absolute;
    top: 430px ;
    left: 900px ;
    display:none;
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    margin-top: 10px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004" ;
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006" ;
}