#leftDiv{
  position: absolute;
  height: 100% ;
  width: 30px ;
  background-color: #18A7B5 ;
}

#leftSide{
  background-color: transparent;
  border-color: transparent;
}

#card{
  border-width: 16px ;
  padding-right: 16px ;
  margin-top: 8px ;
}


#userInput{
  margin-bottom: 32px ;
}
#userPass{
  margin-bottom: 32px ;
}
#loginBt{
  height: 66px ;
}
#requstText{
  text-align: right;
  font-size: 10pt ;
}
