#leftDiv{
  position: absolute;
  height: 100% ;
  width: 30px ;
  background-color: #18A7B5 ;
}

#loginCard{
  position: absolute;
  left: 36% ;
  top: 30% ;
  width: 400px ;
}

#leftSide{
  background-color: transparent;
  border-color: transparent;
}

#card{
  border-width: 16px ;
}


#userInput{
  margin-bottom: 32px ;
}
#userPass{
  margin-bottom: 32px ;
}
#loginBt{
 margin-bottom: 64px ; 
}
#requstText{
  text-align: right;
  font-size: 16pt ;
}
