#leftDiv{
  position: absolute;
  height: 100% ;
  width: 30px ;
  background-color: #81e8dd ;
}

#loginCard{
  position: absolute;
  left: 36% ;
  top: 30% ;
  width: 400px ;
}

#card{
  border-width: 16px ;
}

#login{
  margin-bottom: 16px ;
  font-size: 18pt ;
}

#userInput{
  margin-bottom: 32px ;
}
#fieldInputs{
  margin-bottom: 32px ;
}
#userPass{
  margin-bottom: 32px ;
}
#loginBt{
 margin-bottom: 64px ; 
}

#bar{
  background-color: #008B8B ;
}


.card {
  display: flex;
  background-color: #2c3e50;
  min-height: 150px;
  overflow-x: hidden; 
}

.card::-webkit-scrollbar {
}

.card--content {
  background-color: #70cbce;
  /**min-width: 150px;
  margin: 5px;
  */
}
.reserved {
  display: flex;
  height: 100px ;
  min-height: 150px;
  overflow-x: hidden; 
  background-color: #c74747;
  /**min-width: 150px;
  margin: 5px;
  */
}
#toggle {
    width: 400px;
    height: 100px;
    background: #ccc;
    display:none;
  }